.ag-body-horizontal-scroll {
    height: 0px !important;
    min-height: 0px !important;
    max-height: 0px !important;
    .ag-body-horizontal-scroll-viewport {
        height: 0px !important;
        min-height: 0px !important;
        max-height: 0px !important;
    }
}
.ag-theme-alpine {
    .ag-root-wrapper {
        border: transparent;
        border-color: transparent;
    }
    .ag-row-even {
        background-color: #ededed;
    }
    .ag-header {
        background-color: transparent;
    }
    .ag-menu {
        border-radius: 0;
        min-width: 250px;
        // left: 150px !important;
        // top: 40px !important;
        background-color: #ffffff;
        border: none;
    }
    .ag-picker-field-wrapper {
        border-radius: 0px;
    }
    .ag-simple-filter-body-wrapper {
        padding: 15px;
    }
    .ag-select {
        .ag-picker-field-wrapper {
            min-height: 32px;
            // margin-bottom: 15px;
        }
    }
    input[class^="ag-"]:not([type]),
    .ag-theme-alpine input[class^="ag-"][type="text"],
    .ag-theme-alpine input[class^="ag-"][type="number"],
    .ag-theme-alpine input[class^="ag-"][type="tel"],
    .ag-theme-alpine input[class^="ag-"][type="date"],
    .ag-theme-alpine input[class^="ag-"][type="datetime-local"],
    .ag-theme-alpine textarea[class^="ag-"] {
        min-height: 32px;
        border-radius: 0px;
    }
    .ag-simple-filter-body-wrapper > * {
        margin-bottom: 16px;
    }
    .ag-filter-body {
        margin-bottom: 0px !important;
    }
    .ag-filter-condition {
        margin-top: 16px;
    }
    .ag-popup-child:not(.ag-tooltip-custom) {
        box-shadow: 0 2px 4px 0 rgb(0 0 0 / 16%), 0 2px 8px 0 rgb(0 0 0 / 12%);
    }
    .ag-filter-apply-panel {
        padding: 0 12px 12px;
        border-top: none;
    }
    .ag-standard-button {
        font-weight: 400;
        padding: 6px 10px;
        border-radius: 2px;
        font-size: 14px !important;
        text-align: center;
        vertical-align: middle;
        display: inline-block;
        cursor: pointer;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
            box-shadow 0.15s ease-in-out;
        // color: #2b2b2b;
        // background-color: transparent;
        // border: 1px solid #ccc;
    }
    .ag-standard-button[ref="applyFilterButton"] {
        color: #ffffff;
        background-color: #007bff;
    border-color: #007bff;
    }
    .ag-standard-button[ref="resetFilterButton"] {
        color: #2b2b2b;
        background-color: transparent;
        border: 1px solid #ccc;
    }
    .ag-standard-button[ref="resetFilterButton"]:hover {
        color: #2b2b2b !important;
        background-color: #e9ecef !important;
    }
    .ag-standard-button[ref="applyFilterButton"]:hover {
        background-color: #0062cc !important;
        border-color: #005cbf !important;
    }
}
