.mat-form-field {
    height: 100%;
    max-height: 55px;
}
.mat-radio-button {
    margin: 0 10px;
}
.mat-form-field-label-wrapper {
    top: -1.1em;
}
.mat-form-field-outline-start,
.mat-form-field-outline-end {
    border-radius: 0px !important;
}
input.mat-input-element {
    height: 14px;
}
.mat-form-field-flex {
    height: 45px;
}
.mat-form-field-appearance-outline {
    .mat-form-field-infix {
        padding: 0.5em 0 0.5em 0;
    }
}
.mat-radio-button.mat-accent.mat-radio-checked {
    .mat-radio-outer-circle {
        border-color: #007bff;
    }
}
.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: #007bff;
}
:host ::ng-deep div.mat-form-field-outline-start {
    border-color: 0 !important;
    border-width: 0px !important;
}

:host ::ng-deep .mat-form-field-outline-gap {
    border-color: 0 !important;
    border-width: 0px !important;
}

:host ::ng-deep .mat-form-field-outline-end {
    border-color: 0 !important;
    border-width: 0px !important;
}
.mat-error {
    font-size: 11px;
}
.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid {
.mat-form-field-outline-thick {
    color: #f44336;
    // color: rgba(0,0,0,.12);
}}
.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start, .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end, .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap {
    border-width: 1px !important;
}
.mat-form-field-appearance-outline .mat-form-field-outline-start, .mat-form-field-appearance-outline .mat-form-field-outline-end {
    border: 1px solid #ccc;
}
.mat-select-panel {
    border-radius: 0 !important;
}