<app-navbar (openSide)="onHideSide($event)"></app-navbar>
<app-sidebar [ngStyle]="openSide ? {'display': 'none'} : {'display': 'block'}"></app-sidebar>
<main class="app-main" [ngClass]="{'pl-250' : !openSide}">
    <div class="content-wrapper">
        <div class="wrap-12 grid-margin">

            <div class="card">

                <div class="card-body">

                    <h4 class="card-title">{{ moduleName }}</h4>

                    <router-outlet></router-outlet>

                </div>

            </div>

        </div>

    </div>
</main>