.app-sidebar {
    max-width: 250px;
    position: fixed;
    height: 100vh;
    // background-color: #21295e;
    /* margin-top: -50px; */
    top: 0;
    z-index: 1;
    left: 0;
    transition: width 1s;
}
.app-sidenav {
    padding: 10px 10px 10px 10px;
}
.app-sidenav ul li {
    padding: 10px;
}
.brand-link {
    border-bottom: 1px solid #4b545c;
    // padding-bottom: 18px !important; 
    margin-bottom: 15px
}
.sidebar-shadow {
    box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22)!important;
}
.app-sidenav ul li a {
    // color: white;
    color: #c2c7d0;
}
.app-title {
    font-size: 19px;
    font-weight: 550;
}
.sidebar-icon {
    font-size: 17px !important;
    margin-right: 15px;
}

.sidebar-dark-primary {
    background-color: #343a40;
}
.brand-icon {
    color: #343a40;
    font-weight: 600;
    background: #c2c7d0;
    // border: 2px #c2c7d0 solid;
    padding: 6px;
    border-radius: 50%;
    margin-right: 10px;
}
.brand-title-color {
    color: #c2c7d0;
}
.user-image {
    height: auto;
    width: 2.1rem;
}

.elevation-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23)!important;
}
.img-circle {
    border-radius: 50%;
}