<div class="row">
    <div class="wrap-3">
        <div class="border">
            <a [ngClass]="openSection == 'personal' ? 'active' : ''" (click)="onTabClick('personal', $event)">Personal
                Information</a>
            <a [ngClass]="openSection == 'contact' ? 'active' : ''" class="contact-section-tab"
                (click)="onTabClick('contact', $event)">Contact Details</a>
            <a [ngClass]="openSection == 'address' ? 'active' : ''" class="address-section-tab"
                (click)="onTabClick('address', $event)">Address</a>
        </div>
    </div>
    <div class="wrap-9">

        <form class="form-employee" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>

            <div class="section" [ngClass]="openSection == 'personal' ? 'active' : ''">

                <div class="row">

                    <div class="wrap-6 pad-right">
                        <div class="form-group row">
                            <mat-form-field class="width-100p" appearance="outline">
                                <mat-label>First Name</mat-label>
                                <input matInput placeholder="Placeholder" formControlName="fname">
                                <mat-error *ngIf="isValidated('fname', 'required')">First name should not be empty</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="wrap-6 pad-left">
                        <div class="form-group row">
                            <mat-form-field class="width-100p" appearance="outline">
                                <mat-label>Middle Name</mat-label>
                                <input matInput placeholder="Placeholder" formControlName="mname">
                            </mat-form-field>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="wrap-6 pad-right">

                        <div class="form-group row">
                            <mat-form-field class="width-100p" appearance="outline">
                                <mat-label>Last Name</mat-label>
                                <input matInput placeholder="Placeholder" formControlName="lname">
                                <mat-error *ngIf="isValidated('lname', 'required')">Last name should not be empty</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="wrap-6 pad-left">
                        <div class="form-group row">
                            <mat-form-field class="width-100p" appearance="outline">
                                <mat-label>Gender</mat-label>
                                <mat-select formControlName="gender">
                                    <mat-option value="">Select Gender</mat-option>
                                    <mat-option *ngFor="let gender of genderList" value="{{ gender }}">
                                        {{ gender }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="isValidated('gender', 'required')">Please select gender</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="wrap-6 pad-right">
                        <div class="form-group row">
                            <mat-form-field class="width-100p" appearance="outline">
                                <mat-label>Date of Birth</mat-label>
                                <input formControlName="dob" matInput placeholder="dd/mm/yyyy" ngxDaterangepickerMd [showCancel]="true"
                                    [singleDatePicker]="true">
                                <mat-error *ngIf="isValidated('dob', 'required')">Please enter date of birth</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="wrap-6 pad-left">
                        <div class="form-group row">
                            <mat-form-field class="width-100p" appearance="outline">
                                <mat-label>Profile</mat-label>
                                <mat-select formControlName="profileId">
                                    <mat-option *ngFor="let profile of profileList" [value]="profile.key">
                                        {{ profile.value }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="isValidated('profileId', 'required')">Please select profile</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="wrap-6 pad-right">
                        <div class="form-group row">
                            <label>Employment Type</label>
                            <mat-radio-group formControlName="employmentType" aria-label="Select an option">
                                <mat-radio-button *ngFor="let employmentType of employmentTypeList" [value]="employmentType.key">{{ employmentType.value }}</mat-radio-button>
                                <mat-error *ngIf="isValidated('employmentType', 'required')">Please select employment type</mat-error>
                            </mat-radio-group>
                        </div>
                    </div>
                </div>

            </div>

            <div class="section" [ngClass]="openSection == 'contact' ? 'active' : ''">

                <div class="row">

                    <div class="wrap-6 pad-right">

                        <div class="form-group row">
                            <mat-form-field class="width-100p" appearance="outline">
                                <mat-label>Primary Contact</mat-label>
                                <input matInput placeholder="Contact" formControlName="primaryMobileNo">
                                <mat-error *ngIf="isValidated('primaryMobileNo', 'required')">Please enter contact no.</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="wrap-6 pad-left">
                        <div class="form-group row">
                            <mat-form-field class="width-100p" appearance="outline">
                                <mat-label>Personal Email</mat-label>
                                <input matInput placeholder="Email" formControlName="pemail">
                                <mat-error *ngIf="isValidated('pemail', 'required')">Please enter personal email</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="wrap-6 pad-right">

                        <div class="form-group row">
                            <mat-form-field class="width-100p" appearance="outline">
                                <mat-label>Secondary Contact</mat-label>
                                <input matInput placeholder="Contact" formControlName="secondaryMobileNo">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="wrap-6 pad-left">
                        <div class="form-group row">
                            <mat-form-field class="width-100p" appearance="outline">
                                <mat-label>Official Email</mat-label>
                                <input matInput placeholder="Email" formControlName="oemail">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

            </div>

            <div class="section" [ngClass]="openSection == 'address' ? 'active' : ''">

                <app-address formControlName="address"></app-address>
            </div>

            <div>
                <button type="submit" [disabled]="form.pristine || form.invalid"
                    class="btn btn-primary mr-2">Submit</button>
                <button type="button" (click)="form.reset()" class="btn btn-default">Cancel</button>
            </div>
        </form>
    </div>
</div>