/*.table {
    width: 100%;
    max-width: 100%;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
.table > thead > th {
    font-weight: 500;
}
.table > tbody > tr > td {
    font-size: 13px !important;
}
.table > thead > th, .table > tbody > tr > td {
    padding: 10px;
    text-align: left;
    vertical-align: top;
}
.table > tbody > tr  {
    border-top: 1px solid #ddd;
}
.table > tbody > tr:nth-child(odd)  {
    background:  #f2f2f2;
}*/