/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    border-style: none;
    text-decoration: none;
}
html,
body {
    height: 100%;
}
body {
    font-family: Roboto, Helvetica Neue, sans-serif;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}

.mat-h4,
.mat-subheading-1,
.mat-typography h4 {
    font-weight: 500;
    letter-spacing: normal;
    margin: 0 0 15px;
}

/**
 * Nav Bar
 */
.app-topnav {
    position: fixed;
    top: 0;
    // width: calc(100% - 250px);
    // margin-left: 250px;
    z-index: 1;
    max-height: 60px;
}
.count {
    position: absolute;
    left: 50%;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    color: #ffffff;
    font-size: 11px;
    top: -5px;
    font-weight: 600;
    line-height: 1rem;
    border: none;
    text-align: center;
}
.topnav {
    border-bottom: 1px solid #dee2e6;
    overflow: hidden;
    background-color: #ffffff;
}

.topnav li {
    float: left;
    padding: 20px 20px;
    display: block;
    text-align: center;
}

.topnav li a {
    font-size: 14px;
    font-weight: 500;
    position: relative;
    color: #000000;
    text-align: center;
}

.topnav ul li :hover {
    background-color: #ccc;
    color: black;
}

.active {
    // background-color: #21295e;
    display: block;
}
.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav ul :not(:first-child, .icon) {
        display: none;
    }

    .topnav .icon {
        display: block;
        float: right;
    }
}
@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        display: block;
    }

    .topnav.responsive li {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive li :hover {
        background-color: #ccc;
    }
    .topnav.responsive li .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.col-pad {
    padding: 0px 15px;
}

.card-description {
    font-weight: 500;
    text-align: center;
    width: 120px;
    padding: 2px 5px;
    border-radius: 2px;
    background: #f1f6fb;
    border-color: #b5c4d3;
    color: #212529;
    margin-bottom: 10px;
}

.mat-body p,
.mat-body-1 p,
.mat-typography p {
    margin: 0 0 15px;
}

/**
 * Card CSS
 */
.wrap-1 {
    flex: 0 0 calc(100% / 12);
    max-width: calc(100% / 12);
}
.wrap-2 {
    flex: 0 0 calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
}
.wrap-3 {
    flex: 0 0 calc((100% / 12) * 3);
    max-width: calc((100% / 12) * 3);
}
.wrap-4 {
    flex: 0 0 calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
}
.wrap-5 {
    flex: 0 0 calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);
}
.wrap-6 {
    flex: 0 0 calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6);
}
.wrap-7 {
    flex: 0 0 calc((100% / 12) * 7);
    max-width: calc((100% / 12) * 7);
}
.wrap-8 {
    flex: 0 0 calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);
}
.wrap-9 {
    flex: 0 0 calc((100% / 12) * 9);
    max-width: calc((100% / 12) * 9);
}
.wrap-10 {
    flex: 0 0 calc((100% / 12) * 10);
    max-width: calc((100% / 12) * 10);
}
.wrap-11 {
    flex: 0 0 calc((100% / 12) * 11);
    max-width: calc((100% / 12) * 11);
}
.wrap-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 576px) {
    .wrap-1 {
        flex: 0 0 calc(100% / 12);
        max-width: calc(100% / 12);
    }
    .wrap-2 {
        flex: 0 0 calc((100% / 12) * 2);
        max-width: calc((100% / 12) * 2);
    }
    .wrap-3 {
        flex: 0 0 calc((100% / 12) * 3);
        max-width: calc((100% / 12) * 3);
    }
    .wrap-4 {
        flex: 0 0 calc((100% / 12) * 4);
        max-width: calc((100% / 12) * 4);
    }
    .wrap-5 {
        flex: 0 0 calc((100% / 12) * 5);
        max-width: calc((100% / 12) * 5);
    }
    .wrap-6 {
        flex: 0 0 calc((100% / 12) * 6);
        max-width: calc((100% / 12) * 6);
    }
    .wrap-7 {
        flex: 0 0 calc((100% / 12) * 7);
        max-width: calc((100% / 12) * 7);
    }
    .wrap-8 {
        flex: 0 0 calc((100% / 12) * 8);
        max-width: calc((100% / 12) * 8);
    }
    .wrap-9 {
        flex: 0 0 calc((100% / 12) * 9);
        max-width: calc((100% / 12) * 9);
    }
    .wrap-10 {
        flex: 0 0 calc((100% / 12) * 10);
        max-width: calc((100% / 12) * 10);
    }
    .wrap-11 {
        flex: 0 0 calc((100% / 12) * 11);
        max-width: calc((100% / 12) * 11);
    }
    .wrap-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
.row {
    display: flex;
    flex-wrap: wrap;
}
/**
 * Main CSS
 */
.app-main {
    transition: width 0.25s ease, margin 0.25s ease;
    width: 100%;
    min-height: calc(100vh - 63px);
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    position: fixed;
    overflow-y: scroll;
    height: 100%;
    padding-bottom: 60px;
    transition: width 1s;
}
.pl-250 {
    padding-left: 250px !important;
}
.ml-250 {
    margin-left: 250px !important;
}
.width-minus-250 {
    width: calc(100% - 250px);
}
.width-100p {
    width: 100%;
}
/**
 * Card CSS
 */
.content-wrapper {
    background: #f3f3f3;
    padding: 20px;
    width: 100%;
    flex-grow: 1;
}
.card {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 0;
    box-shadow: 0 0 0 0 rgb(90 113 208 / 11%), 0 4px 16px 0 rgb(167 175 183 / 33%);
    border: solid 1px #dde4eb;
    border-radius: 4px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    padding: 20px;
    border-top: 2px solid #007bff;
}
.card-title {
    font-weight: 500;
    color: #212229;
    margin-bottom: 15px;
    font-size: 14px !important;
    text-transform: capitalize;
    border-bottom: 1px #ccc solid;
}

/**
 * Form CSS
 */
.form-control {
    width: 100%;
    padding: 0 0.75rem;
    border: 1px solid #dee2e6;
    border-radius: 2px;
    line-height: 14px;
    display: inline-block;
    outline: 0;
    height: 32px;
    box-shadow: none;
    font-size: 13px;
    color: #4f5357;
}
.form-control:focus {
    border: 1px solid #80bdff;
}
.grid-margin {
    margin-bottom: 25px;
}
.form-group label {
    font-size: 13px !important;
    vertical-align: top;
}

.col-form-label {
    padding-top: calc(0.56rem + 1px);
    padding-bottom: calc(0.56rem + 1px);
}
select.form-control {
    padding: 4.6px;
}
.form-radio {
    position: relative;
    display: block;
    margin-top: 15px;
    margin-bottom: 10px;
}
.mr-2 {
    margin-right: 16px !important;
}
.mr-5 {
    margin-right: 5px !important;
}
// .btn-success {
//     background-color: #17a2b8;
//     border-color: #17a2b8;
// }
// .btn {
//     font-weight: 400;
//     padding: 5px 15px 5px 15px;
//     border-radius: 2px;
//     font-size: 14px !important;
//     text-align: center;
//     vertical-align: middle;
//     display: inline-block;
//     transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
// }
.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active,
.show > .btn-light.dropdown-toggle {
    color: #212529;
    background-color: #e2e2e2;
    border-color: #dbdbdb;
}
// .btn.btn-danger, .btn.btn-info, .btn.btn-success, .btn.btn-teal, .btn.btn-warning {
//     color: #ffffff;
// }
.error-span {
    color: #ff0000;
    font-size: 11px !important;
}
/**
 * PAD CSS
*/
.pad-left {
    padding: 0 0 15px 10px;
}
.pad-right {
    padding: 0 10px 15px 0;
}
.background-green {
    background-color: #008000;
}
.background-red {
    background-color: #ff0000;
}

.cr-success {
    color: #008000;
}
.cr-danger {
    color: red;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff;
    box-shadow: inset 0 0 2px grey;
    // border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(190, 189, 189);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.app-user-image {
    border-radius: 50%;
    padding: 2px 7px;
    background: #edf4ed;
    font-size: 22px !important;
    text-align: center;
}
.width-0 {
    width: 0px !important;
}
.vertical-align-top {
    vertical-align: top;
}

.vertical-align-middle {
    vertical-align: middle;
}

@import "assets/scss/datepicker.scss";

@import "assets/scss/button.scss";

@import "assets/scss/angular-material.scss";
